###########################################################################
#                            TextMate Snippets                            #
###########################################################################

priority -50

snippet fn "function"
function ${2:function_name} ($3)
 ${VISUAL} $4
end
endsnippet

snippet lfn "local function"
local function ${2:function_name} ($3)
 ${VISUAL} $4
end
endsnippet
